<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CertificationDao">

   <resultMap type="Certification" id="CertificationMap">
   <id column="CNO" property="certificationNo"/>
   <result column="CNM" property="certificationName"/>
   <result column="C_DT" property="acquisitionDate"/>
   <result column="MNO" property="employeeNo"/>
   </resultMap>

<insert id="insert" parameterType="Certification">
insert into CERTIFICATION(CNO,CNM,C_DT,MNO) values(#{certificationNo},#{certificationName},#{acquisitionDate},#{employeeNo})
</insert>


<update id="update" parameterType="Certification">
update CERTIFICATION set
CNO=#{certificationNo},
CNM=#{certificationName},
C_DT=#{acquisitionDate}
where MNO=#{employeeNo}
</update>

<delete id="delete" parameterType="String">
delete from CERTIFICATION
where CNO=#{certificationNo}
</delete>

<select id="selectList" resultMap="CertificationMap">
	select CNO, CNM, C_DT, MNO
    from CERTIFICATION
	order by CNO
</select>
	
	  
<select id="selectOne" parameterType="Map" resultMap="CertificationMap">
 	select CNO, CNM, C_DT, M.MNO
    from CERTIFICATION C LEFT OUTER JOIN MEMBERS M
    on C.MNO = M.MNO
    <if test="certificationName != null">
    where CNM=#{certificationName}
    </if>
 </select>

</mapper>
































